@import "./base/variables"; // read var first
@import "./base/mixins"; // read mixin second
@import "./base/reset"; // read reset last

body {
  text-align: center;
  margin: auto;
  
}
* {
  scroll-behavior: smooth;
}

.euiPageBody--paddingLarge {
  padding: 0;
}

@import "./global/loading";
@import "./global/typography";
@import "./global/cart";
@import "./global/cartButton";
@import "./global/navbar";

@import "./views/home/home";
@import "./views/productDetails/productDetails";

