.cartItemQty .minus, .cartItemQty .plus  {
    margin: 0 0 0 10px;
    color: white;
}
.cartItemQty {
    color: white;
    border-radius: 5px;
    display: inline-block;
    background-color: yellowgreen;
}

.cartItemQty button {
    margin: 0;
}